include jaws/resources/*
include jaws/resources/aaws/*
include jaws/resources/gcnet/*
include jaws/resources/imau/ant/*
include jaws/resources/imau/grl/*
include jaws/resources/promice/*
include jaws/resources/scar/*
include jaws/resources/nsidc/*
